Django==5.0.6
djangorestframework==3.17.0
djangorestframework_simplejwt==5.5.1
gunicorn==21.2.0
asgiref==3.8.1
sqlparse==0.5.0
python-dotenv==1.2.2
PyJWT==2.12.1
cryptography==44.0.2
pillow==11.1.0
requests==2.32.3
boto3==1.42.67
botocore==1.42.67
s3transfer==0.16.0
jmespath==1.1.0
google-api-python-client==2.193.0
google-auth==2.49.1
google-auth-httplib2==0.3.0
google-genai==1.70.0
mysqlclient==2.2.7
razorpay==1.4.2
qrcode==8.0
reportlab==4.2.5
dj-database-url==2.1.0
psycopg2-binary==2.9.9
pandas==3.0.1
numpy==2.4.0
scikit-learn==1.8.0
pyjokes==0.8.3
PyYAML==6.0.2
python-dateutil==2.9.0.post0
six==1.17.0
urllib3==2.3.0
certifi==2025.1.31
charset-normalizer==3.4.1
idna==3.10